{% extends 'base.html.twig' %}

{% block title %}Games{% endblock %}

{% block body %}
  {% if games %}
    <table id="games" class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        {% for game in games %}
          <tr>
            <td>{{ game.date|date("d/m/Y") }}</td>
            <td>
              <a href="/game/{{ game.id }}" class="btn btn-dark">Show</a>
              <a href="/game/edit/{{ game.id }}" class="btn btn-light">Edit</a>
              <a href="#" class="btn btn-danger delete-game" data-id="{{ game.id }}">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No games to display</p>
  {% endif %}
{% endblock %}

{% block javascripts %}
  <script src="/js/game.js"></script>
{% endblock %}