{% extends 'base.html.twig' %}

{% block title %}{{ competition.name }}{% endblock %}

{% block body %}
<h4>Name: {{ competition.name }}</h4>
    <hr>
 <a href="/competition">Go Back</a>
{% endblock %}  