{% extends 'base.html.twig' %}

{% block title %}{{ city.name }}{% endblock %}

{% block body %}
 <h4>Zip: {{ city.zip }}</h4>
<h4>City: {{ city.name }}</h4>
    <hr>
 <a href="/city">Go Back</a>
{% endblock %}  